<button (click)="goBack()" class="button" title="Go Back">
  <i class="material-icons">arrow_back</i>
</button>

<h1>
  {{getHeaderWord()}}
</h1>


<div class="mat-card">

  <div class="mat-card-title">
    <mat-form-field>
      <input matInput placeholder={{getParadigmNamePlaceholderWord()}} [(ngModel)]="paradigmName">
    </mat-form-field>
  </div>
  <div class="mat-card-content">
      <mat-form-field>
        <input matInput placeholder={{getInputPlaceholderWord()}} [(ngModel)]="slotRawList">
      </mat-form-field>
  </div>

  <div class="mat-card-actions">
    <button mat-button routerLink=".." (click)="addNewParadigm()">
      <i class="material-icons">send</i>
    </button>
  </div>

</div>
